html, body, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bungee', cursive;
    line-height: 50px;
    background-color: blue;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
    text-align: center;
  }
h1{
    color:lime;
    transition: all 0.01s;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, li:hover{
    color:blue;
}
h2{
    color: yellow;
    transition: all .01s;
}
h3{
    color: rgb(255, 0, 128);
    transition: all .01s;
}
h4{
    color:white;
    transition: all .01s; 
}
li{
    margin-left: 40%;
    color:lime;
    transition: all .01s;
}
.link{
    transition: all .01s;
}
.link:hover{
    transform: translateY(100px);
}
a:link, a:visited{
    color: #0394fc;
    text-decoration: none;
}
#meme{
    height: 750px;
}