html, body, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bungee', cursive;
    background-color: blue;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
  }
h1{
    color:lime;
}
h2{
    color: yellow;
}
h3{
    color: rgb(255, 0, 128);
}
h4{
    color:red; 
}