body{
    font-family: 'Bungee', cursive;
    background-color: rgb(17, 0, 255);
}
h1, h2, h3, h4, h5{
    font-weight: 1;
    line-height: 50px;
    text-align: center;
}
h1{
    color: rgb(0, 255, 0);
}
h2{
    color: rgb(255, 0, 255);
}
h3{
    color: rgb(255, 251, 0);
}
h4{
    color: rgb(255, 140, 0);
}
.central{
    text-align: center;
}