<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poopy fart</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>oleg ponyatyshyn</h1>        
    <h2>my about me</h2>
    <h3>i really hope you like the css i did for this one cause this one is my BEST WORK YET. my name is oleg ponyatyshyn. my birthday is in exactly a month (october 11) and im about to turn 15. i spent 6 weeks away this summer; one week in cali, two weeks in pennsylvania,a nd 3 weeks at a stayaway camp. my current best 50 free time is a 28.63, best 100 time is a 1:04:27, and best 200 is 2:22:54</h3>
    <h4>here are some things about me</h4>
    <ul>
        <li>i LOVE fortnite</li>
        <li>im a swimmer</li>
        <li>im ukrainian not russian </li>
    </ul>
    <ol>
        <li>clean transition into ordered list</li>
        <li>i LOVE fortnite</li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="" class="link">CLICK HERE FOR SEXY PICTURES</a></li>
        <li><img src="../static/img/m.png" id="meme"></li>
        <li></li>
    </ol>
    <br>
    <h1>i hope you liked this project!!! i spent 3 class periods on this</h1>
</body>
</html>