<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poopy fart</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>oleg ponyatyshyn</h1>        
    <h2>my about me</h2>
    <h3>i really hope you like the css i did for this one cause this one is my BEST WORK YET. my two favorite things in the whole wide world and including this class and butter and khan. so when i found out there was a BUTTER KHAN in my class i was gona fRKEA out.  i couldnt wait to see a buttered up khan in one of the most hated basement classes of all time (right behind heriques' room). spoiler alreat, HE IS NOT BUTTERED UP!!!!! i was very dissapointed. i hope i dont see him again. i am vERY angry at him.</h3>
    <h4>here are some things about me</h4>
    <ul>
        <li>i LOVE fortnite</li>
        <li>im a swimmer (fourth night)</li>
        <li>im ukrainian not russian (fork n a knife)</li>
    </ul>
    <ol>
        <li>clean transition into ordered list</li>
        <li>i LOVE fortnite</li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="https://mikewhalen.tech/" class="link">CLICK HERE FOR SEXY PICTURES</a></li>
        <li><img src="../static/img/m.png" id="meme"></li>
        <li></li>
    </ol>
    <br>
    <h1>i hope you liked this project!!! i spent 3 class periods on this</h1>
</body>
</html>